@media screen and  (max-width: 1000px) {
    body, section {
        overflow: hidden;
    }
    .container__content  {
        grid-template-rows: repeat(8, 1fr);
    }
    .container__text {
        width: 0;
        opacity: 0;
        visibility: hidden;
    }
    .container__toggle {
        width: 0;
        opacity: 0;
        visibility: hidden;
    }
    .container__content {
        gap: 2rem;
        overflow-y: scroll;
        padding: 0;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .container__boxes--top {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container__boxes--middle {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .box {
        width: 90%;
    }


}