@model Project;

@{
    ViewData["Title"] = "CreateView";
    Layout = "_Layout";
}

       <h2 class="heading__secondary text-black">Criar novo projeto</h2>
            <div class="container__projetos">
              <form asp-controller="Project" asp-action="Create" class="form__projeto" method="post">
                    <div class="mb-3 container__form container__form__input--projeto">
                        <label class="form-label">Nome de projeto*</label>
                        <input asp-for="Name" type="text" class="form-control form__input__projeto" id="Name">
                    </div>
                    <div class="mb-3 container__form">
                        <label  class="form-label">Status*</label>
                        <select asp-items="@icarus.application.Models.HelperProject.GetStatus()" asp-for="Status"type="text" class="form-control form__input__projeto" id="Status">
                        </select>
                    </div>
                    <div class="mb-3 container__form container__form__input--projeto">
                        <label  class="form-label">Data de inicio*</label>
                        <input asp-for="DataIncio"type="date" class="form-control form__input__projeto" id="DataIncio">
                    </div>
                    <div class="mb-3 container__form container__form__input--projeto">
                        <label  class="form-label">Data de entrega*</label>
                        <input asp-for="DataEntrega" type="date" class="form-control form__input__projeto" id="DataEntrega">
                    </div>
                    <div class="form-floating mb-3">
                        <textarea asp-for="Descricao" class="form-control" name="Descricao" id="floatingTextarea2" style="height: 100px;"></textarea>
                        <label for="floatingTextarea2">Descrição do projeto</label>
                    </div>
                      
                    <div class="input-group mb-3 container__form container__form__input--file">
                        <label class="input-group-text form__label--file" for="file">Selecione um arquivo</label>
                        <input type="file" class="form-control form__input--file">
                    </div>                  
                    <div class="mb-3 container__form container__form__input--projeto">
                        <label for="nomeProjeto" class="form-label">Valor*</label>
                        <input asp-for="Valor" type="number" class="form-control form__input__projeto" id="Valor">
                    </div>
                    <div class="btn--post">
                        <!-- Mudar button para submit -->
                        <button type="submit" class="button btn--main">Criar projeto</button>
                        <a asp-controller="Project" asp-action="Index" class="button btn--main-outline">Voltar</a>
                    </div>
                </form>
            </div>
              