.button {
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border-radius: 2px;
    display: inline-block;
    text-decoration: none;
}

.btn--main {
    background-color: var(--color-main);
    color: var(--color-white);
    transition: all .2s ease-in-out;
}

.btn--main:hover {
    transform: translateY(-3px);
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, .2);
    background-color: var(--color-green);
    color: var(--color-blacker);

} 

.btn--main:active {
    transform: translateY(0);
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0);
} 

.btn--main-outline {
    margin-left: 1rem;
    background-color: transparent;
    border: 1px solid var(--color-main);
    color: var(--color-main);
    transition: all .2s ease-in-out;
}

.btn--main-outline:hover {
    transform: translateY(-3px);
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, .2);
    border: 1px solid var(--color-blue);
    background-color: var(--color-blue);
    color: var(--color-white);
}

.btn--main-outline:active {
    transform: translateY(0);
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0);
} 

.btn--crud {
    padding: 0 0;
    background-color: transparent;
}

.icon--crud--green {
    fill: var(--color-green);
    color: var(--color-green);
}
.icon--crud--yellow {
    fill: var(--color-yellow);
    color: var(--color-yellow);
}

.icon--crud--blue {
    fill: var(--color-blue);
    color: var(--color-blue);
}