.container__content {
    width: 100%;
    height: 100vh;
    min-height: 750px;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    gap: 3rem;
    overflow-y: scroll;
    padding: 5rem;
}


.container__boxes--top{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 3rem;
}

.box {
    width: 35rem;
    height: 15rem;
    background-color: var(--color-whiter);
    border-radius: 8px;
    box-shadow: .5rem .5rem .4rem rgba(0, 0, 0, .25);
    display: flex;
}
.box--pendente {
    width: 111rem;
}
.box--middle {
    height: 20rem;
}
.box--bottom {
    width: 111rem;
    height: 20rem;
    overflow: hidden;
    overflow-y: scroll;
}
.sider {
    width: 1rem;
    height: 100%;
    background-color: red;
    border-radius: 8px 0 0 8px;
}
.sider--green {
    background-color: var(--color-green);
}

.sider--blue {
    background-color: var(--color-blue);
}
.sider--red {
    background-color: var(--color-main);
}
.sider--yellow {
    background-color: var(--color-yellow);
}
.container__boxes--middle{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.container__boxes--bottom{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon__content {
    width: 2.4rem;
    height: 2.4rem;
}

.icon__content--blue {
    fill: var(--color-blue);
    color: var(--color-blue);
    margin: 1rem;
}
.icon__content--green {
    width: 3rem;
    height: 3rem;
    fill: var(--color-green);
    color: var(--color-green);
    margin: 1rem;
}
.icon__content--yellow {
    fill: var(--color-yellow);
    color: var(--color-yellow);
    margin: 1rem;
}
.icon__content--red {
    fill: var(--color-main);
    color: var(--color-main);
    margin: 1rem;
}
.content__box {
    flex: 0 1 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.container__projetos {
    background-color: var(--color-whiter);
    box-shadow: .5rem .5rem .4rem rgba(0, 0, 0, .25);
    border-radius: 8px;

}
.container__options {
    width: 100%;
    height: 8rem;
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 8px;
    box-shadow: .5rem .5rem .4rem rgba(0, 0, 0, .25);

}
.form {
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.search__input {
    width: 35rem;
    height: 3rem;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 1rem;
    transition: all .2s ease-in-out;
}
.search__input:focus {
    box-shadow: .5rem .5rem .4rem rgba(0, 0, 0, .25);
}
.date__filter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -1.5rem;
}
.checkbox__filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
}
.check__input {
    cursor: pointer;
}
.search__filter {
    width: 15rem;
    height: 3rem;
    border: none;
    border-radius: 8px;
    padding: 1rem;
    outline: none;
    transition: all .2s ease-in-out;
}
.search__filter:focus {
    box-shadow: .5rem .5rem .4rem rgba(0, 0, 0, .25);
}


.container__btns {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container__itens {
    box-shadow: .5rem .5rem .4rem rgba(0, 0, 0, .25);
}
.container__list{
    overflow-y: scroll;
    width: 100%;
    height: 35rem;
}

.table {
    font-size: 1.2rem;
}

.page-item .page-link {
    color: var(--color-main);
}